*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header
{
    background-color: aqua;
    padding: 15px;
    text-align: center;
    color: white;
    border-bottom:  3px solid #ec12bd;
    position: sticky;
}

.content
{
    border: 3px solid aqua;
    width: 300px;
    min-height: 380px;
    border: 2px solid #ddd;
    border-radius: 10px;
    position: fixed;
}

.pic
{
  display: block;
  margin: 0 auto 15px auto;
width: 80px;
height: 80px;
border-radius: 50%;
}
h2{
    text-align: center;
}
.Folio
{
    padding: 20px;
    text-align:center;
    color: blueviolet;
}

.stats
{
    text-align: center;
}

.stat
{
    display: inline-block;
    width: 80px;
    margin: 5px;
    padding: 10px;
    background-color: aqua;
    border-radius: 25%;
}


.btn
{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    margin-left:100px;
    border-radius: 25%;

}
