*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #e8f9fd;
}

#d1
{
    border: 3px solid black;
    width: 99%;
    height: 80px;
}

#d2
{
    border: 3px solid black;
    width: 20%;
    height: 400px;
    float: left;
    
}

#d3
{
     border: 3px solid black;
     width: 79%;
     height: 400px;
       float: left;   
}

#d4
{
    border: 3px solid black;
    width: 99%;
    height: 80px;
    margin-top: 400px;
}

#d5
{
    border: 3px solid black;
    width: 95%;
    height: 50px;
    margin-left: 10px;
}

#d6
{
    border: 3px solid black;
    width: 45%;
    height: 250px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

#d7
{
    border: 3px solid black;
    width: 45%;
    height: 250px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}